<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./sidebar') %>
    <div id="main">
      <h1><%= title %></h1>
      <ul>
        <% instance_list.forEach(instance => { %>
            <li><%= instance.instrument.type %> - <%= instance.instrument.maker.company_name %> - <a href='<%= instance.url %>'><%= instance.status %></a></li>
        <% }); %>     
      </ul>
    </div>
  </body>
</html>